{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav aria-label="{{'Vous êtes ici'|trans}}" role="navigation">
    <ul class="breadcrumb">
    {% for item in breadcrumb %}
      <li class="breadcrumb-item">
      	<span aria-hidden="true"></span>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}

