/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');*/

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
body {font-family: 'Montserrat', sans-serif; color: #454545;}
body .region-content p, body .region-content li{font-family: 'Open Sans', sans-serif; font-size: 18px;}

body p, body li{color: #454545;}
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 { font-weight: bold; color: #000; }
.nav-item a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
footer .nav-item a, .region-header .nav-item a {
    font-size: 14px;
    width: 100%;
    font-weight: normal;
}
.nav-item a:hover, 
.nav-item a:focus, 
.nav-item a.dropdown-toggle.show {
    color: #921329;
}
ol li::marker {font-weight: 500;}
.form-composite > .fieldset-wrapper > .description, .form-item .description {
    position: relative;
}
body .region-content p.h4, body .region-content p.h5 {
    font-family: 'Montserrat', sans-serif;
}
